<section class="section main-image">
  <div class="container">
    <div class="has-text-centered home-contents">
      <h1 class="mb-5 is-size-2" style="font-family: cursive">Let's make great memories!</h1>
      <p class="mb-5 is-size-5">おすすめなレシピを共有しませんか？美味しい料理で良い一日を。</p>
      <div class="">
        <%= link_to "ログイン", new_user_session_path, class: "button is-link is-outlined mr-5" %>
        <%= link_to "新規登録", new_user_registration_path, class: "button is-link is-outlined ml-5" %>
      </div>
    </div>
  </div>
</section>